.controls {
  width: 50%;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
}

.zoom-range {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 4px;
  background: #3f51b5;
  border-radius: 2px;
  outline: none;
  transition: background 0.2s ease-in-out;
}

.zoom-range:hover {
  background: #2c387e; 
}

.zoom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #3f51b5;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.zoom-range::-moz-range-thumb {
  -moz-appearance: none;
  width: 14px;
  height: 14px;
  background: #3f51b5;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.controls:hover .zoom-range::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
}

.controls:hover .zoom-range::-moz-range-thumb {
  box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
}
